<div class="row">
	<div class="col-12 mb-4 mt-5">
		<h4>Alarms</h4>
	</div>
</div>

<table class="table table-hover mb-4 alarms-table">
  <thead>
    <tr>
      <th scope="col" class="pl-4">No</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Region</th>
      <th scope="col">Location</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="pl-4">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Region C</td>
      <td>BLK9, Level 6</td>
      <td>30</td>
      <td>
      	<button type="button" class="alarms-table-button">Acknowledge</button>
      </td>
    </tr>
    <tr>
      <th scope="row" class="pl-4">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Region B</td>
      <td>BLK9, Level 7</td>
      <td>20%</td>
      <td>
      	<button type="button" class="alarms-table-button">Acknowledge</button>
      </td>
    </tr>
    <tr>
      <th scope="row" class="pl-4">3</th>
      <td>Larry</td>
      <td>Hugsfield</td>
      <td>Region A</td>
      <td>BLK9, Level 2</td>
      <td>40%</td>
      <td>
      	<button type="button" class="alarms-table-button">Acknowledge</button>
      </td>
    </tr>
    <tr>
      <th scope="row" class="pl-4">4</th>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Region G</td>
      <td>BLK9, Level 1</td>
      <td>80</td>
      <td>
      	<button type="button" class="alarms-table-button">Acknowledge</button>
      </td>
    </tr>
  </tbody>
</table>