<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">ALOTLOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav align-items-center">
      <li class="nav-item mr-3">
      <div class="input-group search-btn-width">
            <span class="input-group-prepend">
                <div class="input-group-text bg-transparent"><i class="fa fa-search text-muted"></i></div>
            </span>
            <input class="form-control py-2 border-left-0 pl-0 border shadow-none" type="search" placeholder="search">
        </div>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="#">
            <i class="far fa-question-circle glyphicon glyphicon-user"></i>
            Help
        </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="#"><i class="far fa-bell"></i>
            Warning Center</a>
      </li>
      <li class="nav-item dropdown mr-3">
        <a class="nav-link dropdown-toggle" href="#" id="navDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag 'someone.jpg', class: "navbar-user-img"  %>
          <span id="username">Eric Mayer</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navDropDown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>