<div class="row">
	<div class="col-12 mb-4 mt-5">
		<h4>Select the Region</h4>
	</div>
</div>

<div class="row mb-4">
	<div class="col-md-3">	
		<div class="background region-bg-one">
			<div class="region-name">
				<h2>RAMA2 Branch</h2>
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="background region-bg-two">
			<div class="region-name">
				<h2>Chaengwattana Branch</h2>
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="background region-bg-three">
			<div class="region-name">
				<h2>Nawamin Branch</h2>
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="background region-bg-four">
			<div class="region-name">
				<h2>Chaiyapruek Branch</h2>
			</div>
		</div>	
	</div>	
</div>

<div class="row mb-4">
	<div class="col-md-3">	
		<div class="background region-bg-one">
			<div class="region-name">
				<h2>RAMA2 Branch</h2>
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="background region-bg-two">
			<div class="region-name">
				<h2>Chaengwattana Branch</h2>
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="background region-bg-three">
			<div class="region-name">
				<h2>Nawamin Branch</h2>
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="background region-bg-four">
			<div class="region-name">
				<h2>Chaiyapruek Branch</h2>
			</div>
		</div>	
	</div>	
</div>