<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link disabled" href="#">Device Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="#">Analaytics and Recommendations</a>
	</li>
</ul>
<div class="row">
	<div class="col-12 my-4">
		<h4>Recommendations</h4>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="card box-shadowed">
			<div class="card-body p-0">
				<h5 class="card-title px-3">01</h5>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">No demand detached in Zone A</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">System has auto adjust setpoint temperature to 24c</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 10:25AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>		
	</div>

	<div class="col">	
		<div class="card box-shadowed">
			<div class="card-body p-0">
				<h5 class="card-title px-3">02</h5>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Supply temperature is <span class="text-danger">higher than </span> setpoint temperature</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Please check AHU system for maitenance</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 11:20 AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col my-4">	
		<div class="card box-shadowed">
			<div class="card-body p-0">
				<h5 class="card-title px-3">03</h5>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">No demand detached in Zone A</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">System has auto adjust setpoint temperature to 24c</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 10:25AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>	
	</div>

	<div class="col my-4">		
		<div class="card box-shadowed">
			<div class="card-body p-0">
				<h5 class="card-title px-3">04</h5>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Supply temperature is <span class="text-danger">higher than </span> setpoint temperature</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Please check AHU system for maitenance</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 11:20AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>		
	</div>
</div>