<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Device Status</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Analaytics and Recommendations</a>
  </li>
</ul>