<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link disabled" href="#">Device Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="#">Analaytics and Recommendations</a>
	</li>
</ul>

<div class="d-flex align-items-center mt-4">
	<p class="h4 px-1">Energy Consumption</p>
	<button type="button" class="btn btn-bg-purple ml-auto">Print Report</button>
</div>

<div class="dropdown show px-1 mt-4">
  <a class="btn dropdown-toggle text-muted border-light-gray px-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Minutes
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


<div class="row">
	<div class="col-12 mt-4">
		<h4>Recommendations</h4>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">01</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">No demand detached in Zone A</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">System has auto adjust setpoint temperature to 24c</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 10:25AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>		
		
	</div>

	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">02</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Supply temperature is <strong class="text-danger">higher than </strong> setpoint temperature</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Please check AHU system for maintenance</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 11:20 AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>	
	</div>	
</div>

<div class="row mt-4">
	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">03</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">No demand detached in Zone A</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">System has auto adjust setpoint temperature to 24c</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 10:25AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>		
		
	</div>

	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">04</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Supply temperature is <strong class="text-danger">higher than </strong> setpoint temperature</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Please check AHU system for maintenance</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">2020-Sep-10 11:20 AM</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>	
	</div>	
</div>

