<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link text-dark" href="/devices/:id/status">Device Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="#">AI Recommendations</a>
	</li>
</ul>

<div class="row align-items-start mt-4">
	<div class="col-6">
		<p class="h4">Energy Consumption</p>
		<div class="dropdown show px-1 mt-4">
			<a class="btn dropdown-toggle text-muted border-light-gray px-5" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<strong>AHU 1</strong>
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">AHU 1</a>
				<a class="dropdown-item" href="#">AHU 2</a>
				<a class="dropdown-item" href="#">AHU 3</a>
				<a class="dropdown-item" href="#">AHU 4</a>
			</div>
		</div>
	</div>
	<div class="col-6 d-flex align-items-start">
		<%= image_tag('charts/optimized_power_consumption.png', alt: "Edit Entry") %>
		<button type="button" class="btn btn-bg-purple ml-auto">Print Report</button>
	</div>		
</div>

<div class="row">
	<div class="col-12 mt-4">
		<h4>Recommendations</h4>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">01</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Zone ambient temperature stablized</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Adjust setpoint to 22 C</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">23-Oct-2020 0915</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>		
		
	</div>

	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">02</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Anticipate incoming crowd</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Adjust setpoint to 18 C</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">23-Oct-2020 1130</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>	
	</div>	
</div>

<div class="row mt-4">
	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">03</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Anticipate low crowd</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Adjust setpoint to 22 C</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">23-Oct-2020 1315</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>		
		
	</div>

	<div class="col">
		<div class="card recommendation-card box-shadowed">
			<div class="card-body p-0">
				<p class="card-title h1 px-3">04</p>
				<table class="table">
					<tbody>
						<tr>		
							<td class="text-muted px-3 border-0">Event detached:</td>
							<td class="border-0">Anticipate incoming crowd</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Actions:</td>
							<td class="border-0">Adjust setpoint to 18 C</td>
						</tr>
						<tr>
							<td class="text-muted px-3 border-0">Time:</td>
							<td class="text-muted border-0">23-Oct-2020 1815</td>
						</tr>
					</tbody>
				</table>

				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-purple">View details</button>
				</div>
			</div>
		</div>	
	</div>	
</div>

