<ul class="nav nav-tabs">
	<li class="nav-item mx-4">
		<a class="nav-link active" href="#">Device Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="#">Analaytics and Recommendations</a>
	</li>
</ul>
<div class="row">
    <div class="col-12 my-4">
        <h4>Devices in Chaengwattana Branch, BLK 110</h4>
    </div>
</div>

<nav class="levels-nav navbar  navbar-expand-sm bg-light justify-content-around border-bottom">
	<ul class="navbar-nav d-flex justify-content-around w-100">
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">All Levels</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 1</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 2</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 2</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 4</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 5</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 6</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 7</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 8</a>
		</li>
	</ul>
</nav>
<br>





<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
			<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU1</p>
							</div>
							<div class=" border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-success">On</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">28 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">27 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">27 C</p>
					</div>
						</div>
						</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">28%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">2</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 1</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
			<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU1</p>
							</div>
							<div class=" border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-success">On</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">28 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">27 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">27 C</p>
					</div>
						</div>
						</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">28%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">2</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 1</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
			<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU1</p>
							</div>
							<div class=" border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-danger">Off</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">28 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">27 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">27 C</p>
					</div>
						</div>
						</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">28%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">2</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 1</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
