<div class="row">
    <div class="col-12 my-4">
        <h4>Key Metrics</h4>
    </div>
        
    
    <div class="col">       
        <div class="card box-shadowed">
            <div class="card-body">
                <div class="card-title">
                    <h5>Water Usage</h5>
                    <div class="icon-three-dots"></div>
                </div>

              <div class="metric-keys">
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-warning"></div>
                    <div class="metric-name ml-2">Region A</div>      
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-success"></div>
                    <div class="metric-name ml-2">Region B</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-info"></div>
                    <div class="metric-name ml-2">Region C</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-danger"></div>
                    <div class="metric-name ml-2">Region D</div>
                  </div>               
              </div>

              <div class="metric-items ">
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region A</h5></div>
                      <div class="metric-value text-warning">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region B</h5></div>
                      <div class="metric-value text-success">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region C</h5></div>
                      <div class="metric-value text-info">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4 mb-4">
                      <div class="metric-name"><h5>Region D</h5></div>
                      <div class="metric-value text-danger">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
            </div>
            
        </div>
    </div>

    <div class="col">
        <div class="card box-shadowed">
            <div class="card-body">
                <div class="card-title">
                    <h5>Water Usage</h5>
                    <div class="icon-three-dots"></div>
                </div>

              <div class="metric-keys">
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-warning"></div>
                    <div class="metric-name ml-2">Region A</div>      
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-success"></div>
                    <div class="metric-name ml-2">Region B</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-info"></div>
                    <div class="metric-name ml-2">Region C</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-danger"></div>
                    <div class="metric-name ml-2">Region D</div>
                  </div>               
              </div>

              <div class="metric-items ">
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region A</h5></div>
                      <div class="metric-value text-warning">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region B</h5></div>
                      <div class="metric-value text-success">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region C</h5></div>
                      <div class="metric-value text-info">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4 mb-4">
                      <div class="metric-name"><h5>Region D</h5></div>
                      <div class="metric-value text-danger">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
            </div>
            
        </div>
    </div>
</div>