<div class="row">
    <div class="col-md-12">
        <div style="height:600px; position: relative;">
            <div id="map" style="width: 100%; height: 100%;"></div>
            <%= render 'pages/partials/slidein' %>
        </div>
    </div>
</div>
</div>

<div>

</div>


<script>
    function toggleMenu() {
        $('.select-store-nav').toggleClass('open');
    }

    function initMap() {
        const uluru = {
            lat: -25.344,
            lng: 131.036
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
        });;
    }
</script>