<div class="row">
    <div class="col-md-12">
        <div style="height:600px; position: relative;">
            <div id="map" style="width: 100%; height: 100%;"></div>
            <%= render 'pages/partials/slidein' %>
        </div>
    </div>
</div>
</div>

<div>

</div>

<% content_for :scripts do %>
<script>
    function toggleMenu() {
        $('.select-store-nav').toggleClass('open');
    }

    function initMap() {
        const center = {
            lat: 13.766672,
            lng: 100.540522
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center,
        });
    }
</script>
<% end %>