@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.search-btn-width {
  width: 300px;
}

.navbar-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  margin-left: 300px;
  padding: 0 20px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(105,109, 242);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-icon {
  margin-right: 10px;
}

.sidenav-item {
  min-width: 140px;
  padding: 10px 0;
}

.sidenav-list {
  margin-top: 50px;
}

.sidenav-logo {
  margin-bottom: 20px;
}

.sidenav-setting {
  margin-top: 100px;
}

.sidenav-footer {
  opacity: 0.5;
  position: absolute;
  top: 90%;
}

.sidenav a {
  color: white;
  padding: 25px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.left-card, .right-card {
  height: 400px;
  box-shadow: 0 0 20px #ccc;
  border-radius: 0.5rem;
}

.left-card .card-title {
  padding: 0;
}

.metric-cards-heading {
  margin-top: 50px;
  padding: 0 0 15px 15px;
  width: 100%;
}

.metric-cards-heading h5 {
  font-weight: bold;
  font-size: 2rem;
}

.card-title h5{
  font-size: 1.5rem;
  font-weight: bold;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card-title svg {
  margin-top: 8px;
}

.metric-key {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.metric-key-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.metric-name h5 {
  font-size: 0.75rem;
}

.metric-key-orange,
.metric-key-blue,
.metric-key-purple,
.metric-key-red {
  width: 50px;
  height: 25px;
}

.progress {
  height: 0.5rem;
}

.progress-metric-name h5 {
  font-size: 1rem;
  font-weight: bold;
}

.metric-linear-progress {
  position: relative;
}

.metric-value {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}