@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.search-btn-width {
  width: 300px;
}

.navbar-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  margin-left: 300px;
  padding: 0 20px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(105,109, 242);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-icon {
  margin-right: 10px;
}

.sidenav-item {
  min-width: 140px;
  padding: 10px 0;
}

.sidenav-list {
  margin-top: 50px;
}

.sidenav-logo {
  margin-bottom: 20px;
}

.sidenav-setting {
  margin-top: 100px;
}

.sidenav-footer {
  opacity: 0.5;
  position: absolute;
  top: 90%;
}

.sidenav a {
  color: white;
  padding: 25px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.box-shadowed {
  box-shadow: 0 0 20px #ccc;
  border-radius: 0.5rem;
}

.icon-three-dots {
  background: url('data:image/svg+xml, <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
  </svg>');
  background-repeat: no-repeat;
}

.card-title h5{
  font-size: 1.5rem;
  font-weight: bold;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.card-title svg {
  margin-top: 8px;
}

.metric-keys {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.metric-key-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.metric-name {
  font-size: 0.75rem;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.progress {
  height: 0.5rem;
}

.metric-items h5 {
  font-size: 1rem;
  font-weight: bold;
}

.metric-linear-progress {
  position: relative;
}

.metric-value {
  position: absolute;
  top: 0;
  right: 0;
}

.background {
  position: relative;
  width: 360px;
  height: 250px;
}

.region-bg-one {
  background-image: url("kaap.jpeg");
}

.region-bg-two {
  background-image: url("lost.jpeg");
}

.region-bg-three {
  background-image: url("villa.jpeg");
}

.region-bg-four {
  background-image: url("arch.jpeg");
}

.region-name {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  text-align: center;
  opacity: 0.6;
}

.region-name h2 {
  font-weight: bold;
  color: #000000;
  line-height: 75px;
}

.device {
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px #ccc;
    border-radius: 1rem;
}

.device .image-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform:  translateX(-50%);
}

.device img {
  border-radius: 1rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}