@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.search-btn-width {
  width: 300px;
}

.navbar-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  margin-left: 300px;
  padding: 0 20px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(105,109, 242);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-icon {
  margin-right: 10px;
}

.sidenav-item {
  min-width: 140px;
  padding: 10px 0;
}

.sidenav-list {
  margin-top: 50px;
}

.sidenav-logo {
  margin-bottom: 20px;
}

.sidenav-setting {
  margin-top: 100px;
}

.sidenav-footer {
  opacity: 0.5;
  position: absolute;
  top: 90%;
}

.sidenav a {
  color: white;
  padding: 25px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.box-shadowed {
  box-shadow: 0 0 20px #ccc;
  border-radius: 0.5rem;
}

.icon-three-dots {
  background: url('data:image/svg+xml, <svg viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
</svg>');
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
}

.card-body .icon-three-dots {
  position: absolute;
  top: 40px;
  right: 40px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.card-title svg {
  margin-top: 8px;
}

.metric-keys {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.metric-key-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.metric-name {
  font-size: 0.75rem;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.progress {
  height: 0.5rem;
}

.circle-progress span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metric-items h5 {
  font-size: 1rem;
  font-weight: bold;
}

.metric-linear-progress {
  position: relative;
}

.metric-value {
  position: absolute;
  top: 0;
  right: 0;
}

.region-box {
  position: relative;
}

.region-box img {
  width: 100%;
}

.region-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff8c;
  text-align: center;
  font-size: 1.4rem;
}

.device-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 200px;
  box-shadow: 0 0 20px #ccc;
  border-radius: 1rem;
}

.device-item .device-name {
  font-size: 1.4rem;
}

.device-item img {
  width: 80%;
}

.alarms-table {
  box-shadow: 0 0 20px #ccc;
}

.alarms-table  thead {
  color: rgb(174,176,247);
}

.btn-outline-purple {
  background-color: white;
  border: 1px solid #696df2;
  color: rgb(174,176,247);
}

.btn-outline-purple:hover {
  font-weight: bold;
  background: #696df2;
  color: white;
}

.btn-bg-purple {
  background-color: rgb(105,109, 242);
  color: #fff;
}

.btn-bg-purple:hover {
  font-weight: bold;
  background-color: white; 
  color: rgb(174,176,247);
}

.alarms-table tr td:nth-child(6) {
  color: rgba(255,0,0, 0.5);
}

.alarms-table tbody {
  font-size: 1rem;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  font-weight: bold;
  border-bottom: 3px solid #696df2;
}

.bg-purple {
  background-color: rgb(226, 225, 253);
}

.text-purple {
  color: rgb(174,176,247);
}

.levels-nav .nav-item:hover {
  background-color: rgb(226, 225, 253);
  color: rgb(105,109, 242);
  border-radius: 1rem;
}

.overview-img-wrapper {
  width: 120px;
  height: 120px;
}

.overview-img-wrapper img {
  width: 100%;
  height: 100%;
  
}

.clip-circle {
  clip-path: circle(45%);
}

.recommendation-card {
  font-size:0.9rem;
}

.border-light-gray {
  border-color: #DCDCDC;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}